<a href="https://colab.research.google.com/github/hayaboy/pythonBasic/blob/main/Fast_API_ML_%EC%84%9C%EB%B9%84%EC%8A%A4_api_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Read Root

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df

   item_id       name  price
0        1      apple    100
1        2  tangerine    200
2        2      melon    300
3        3      mango    400
4        3     orange    500
5        3       plum    600

In [ ]:
df['item_id']==3

0    False
1    False
2    False
3     True
4     True
5     True
Name: item_id, dtype: bool

In [ ]:
df[df['item_id']==3]

   item_id    name  price
3        3   mango    400
4        3  orange    500
5        3    plum    600

In [ ]:
df[df['item_id']==3]['name']

3     mango
4    orange
5      plum
Name: name, dtype: object

In [ ]:
df[df['item_id']==3]['name'].head(2)

3     mango
4    orange
Name: name, dtype: object

In [ ]:
import requests
import pprint

url = 'http://localhost:8000/'
res = requests.get(url)
pprint.pprint(res.json())

{'item_id': {'0': 1, '1': 2, '2': 2, '3': 3, '4': 3, '5': 3},
 'name': {'0': 'apple',
          '1': 'tangerine',
          '2': 'melon',
          '3': 'mango',
          '4': 'orange',
          '5': 'plum'},
 'price': {'0': 100, '1': 200, '2': 300, '3': 400, '4': 500, '5': 600}}

In [ ]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
len(df.index)

6

## Read Item

In [ ]:
import requests
import pprint

item_id=3
url = f'http://localhost:8000/items/{item_id}?'
params={
    'q' : 'name',
    'limit' : 2
}
res = requests.get(url, params=params)
pprint.pprint(res.json())

{'result': ['mango', 'orange']}

In [ ]:
import requests
import pprint

url = 'http://localhost:8000/items/3?q=name&limit=2'
res = requests.get(url)
pprint.pprint(res.json())

{'result': ['mango', 'orange']}

## Save Item

In [ ]:
import requests
import pprint

item_id=3
url = f'http://localhost:8000/items/{item_id}?'
body={
    'name' : 'peach',
    'price' : 1000
}
res = requests.post(url, json=body)
pprint.pprint(res.json())

{'result': 'item_id 3 is saved!'}